body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('https://wallpaperaccess.com/full/13141.jpg');
}

.page-title-container {
    background-color: rgba(0, 0, 0, 0.8);
    height: fit-content;
    padding: 5vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-title {
    background: url('https://i.ytimg.com/vi/loXDVGi_lK0/maxresdefault.jpg') no-repeat center;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
    font-size: 10vw;
    transition: font-size .7s ease;
}

.page-title:hover {
    font-size: 12vw;
}

.sub-title {
    color: rgb(157, 156, 156);
    text-align: center;
    font-family: Helvetica;
    margin-top: 12vh;
    font-size: 2.5vw;
}

.intro-container {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.70);
}

.intro-title {
    font-family: sans-serif;
    font-size: 2.5vw;
    color: rgb(250, 250, 250);
}

.intro {
    text-indent: 5vw;
    font-family: sans-serif;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    margin-left: 3vw;
}

.intro-image-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-image {
    width: 50vw;
    height: 50vh;
    background-image: url('https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2000/09/hubble_space_telescope_hst_courtesy_of_nasa/9229648-5-eng-GB/Hubble_Space_Telescope_HST_courtesy_of_NASA.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.thesis {
    background-color: rgba(0, 0, 0, 0.70);
    font-family: sans-serif;
    font-size: 3.5vw;
    color: rgb(255, 255, 255);
    text-indent: 4vw;
    margin-top: 30vh;
    padding-top: 10vh;
}

.benefit-container {
    text-indent: 1vw;
    
}

.benefit {
    padding: 5vw;
    text-indent: 2vw;
    font-family: 'Arial', sans-serif;
    font-size: 3vw;
    color: rgb(255, 255, 251);
    margin-bottom: 30vh;
    background-color: rgba(0, 0, 0, 0.70);
}

.benefit-text {
    font-family: 'Merriweather', sans-serif;
    text-indent: 3vw;
    font-size: 2vw;
    margin-top: 2vh;
    margin-left: 5vw;
}

.benefit-image-container {
    margin-top: 10vh;
    display: flex;
    gap: 5vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.benefit-image {
    width: 40vw;
    height: 50vh;
}

.work-cited-link {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.work-cited-button {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 2.5vw;
    border-radius: 7px;
    width: 20vw;
    height: 7.5vh;
    margin-bottom: 10vh;
    cursor: pointer;
    transition: width 0.7s ease, height 0.7s ease, font-size 0.7s ease;
}

.work-cited-button:hover {
    width: 25vw;
    height: 9vh;
    font-size: 3vw;
}

@media (max-width: 768px) {

    body {
        background-position: center;
    }
    
    .page-title-container {
        background-color: rgba(0, 0, 0, .85);
    }
    
    .page-title {
        background: url('https://i.ytimg.com/vi/loXDVGi_lK0/maxresdefault.jpg') no-repeat center;
        background-size: cover;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: sans-serif;
        font-size: 10vw;
    }
    
    
    .sub-title {
        color: rgb(157, 156, 156);
        text-align: center;
        font-family: Helvetica;
        margin-top: 12vh;
        font-size: 2.5vw;
    }
    
    .intro-container {
        display: flex;
        flex-direction: column;
        margin-top: 30vh;
        padding: 5vw;
        background-color: rgba(0, 0, 0, 0.70);
    }
    
    .intro-title {
        font-family: sans-serif;
        font-size: 2.5vw;
        color: rgb(250, 250, 250);
    }
    
    .intro {
        text-indent: 5vw;
        font-family: sans-serif;
        font-size: 2vw;
        color: rgb(255, 255, 255);
        margin-top: 5vh;
        margin-left: 3vw;
    }
    
    .intro-image-container {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .intro-image {
        width: 50vw;
        height: 50vh;
        background-image: url('https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2000/09/hubble_space_telescope_hst_courtesy_of_nasa/9229648-5-eng-GB/Hubble_Space_Telescope_HST_courtesy_of_NASA.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .thesis {
        background-color: rgba(0, 0, 0, 0.70);
        font-family: sans-serif;
        font-size: 3.5vw;
        color: rgb(255, 255, 255);
        text-indent: 4vw;
        margin-top: 30vh;
        padding-top: 10vh;
    }
    
    .benefit-container {
        text-indent: 1vw;
        
    }
    
    .benefit {
        padding: 5vw;
        text-indent: 2vw;
        font-family: 'Arial', sans-serif;
        font-size: 3vw;
        color: rgb(255, 255, 251);
        margin-bottom: 30vh;
        background-color: rgba(0, 0, 0, 0.70);
    }
    
    .benefit-text {
        font-family: 'Merriweather', sans-serif;
        text-indent: 3vw;
        font-size: 2vw;
        margin-top: 2vh;
        margin-left: 5vw;
    }
    
    .benefit-image-container {
        margin-top: 10vh;
        display: flex;
        gap: 5vw;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .benefit-image {
        width: 40vw;
        height: 50vh;
    }
    
    .work-cited-link {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
    }
    
    .work-cited-button {
        width: 20vw;
        height: 4vh;
        margin-bottom: 10vh;
        background-color: black;
        cursor: pointer;
        transition: width 0.7s ease, height 0.7s ease;
    }
    
    .work-cited-button:hover {
        width: 25vw;
        height: 5vh;
    }

}

